# Q01: How do you comment code in python? what are the different types of comments?

#### there are two types of comments in python
1: single line comment
2: multiline comment

in single line comment we use # for commenting a code

and in multiline comment we use
1: '''  _  ''' 
OR 
2: """  _  """
in between single inverted commas or double inverted commas any code or text comes consider as comment as well as string

# Q02: what are variables in python? How do you declare and assign value to variable?

In [1]:
'''
variables are like containers which stores some value in it
we can declare a variable and assign value to it using following syntax

variable_name = value

depending upon value varaibles could be of any type i.e int, float,string,bool etc.
'''
# here is an example of declaring variable x and assigning value 10 in it
x = 10

In [2]:
x   # see variable x contains value 10

10

In [4]:
# we can also declare multiple variables and assign value to them in a single line
a,b,c = 1,2,3

print(f'{a},{b},{c}')

1,2,3

# Q03: How do you convert one data type to another in python

In [ ]:
""" WE can use type casting to convert one data type into another data type, in type casting different functions are used
like int() , str() , float() , iter() etc
we pass value to these functions to convert into specific data type
"""

In [42]:
#example: int to string data type
st = 1255
str_new = str(st)    # we are passing variable st which is int in type to str() function to convert it into string

type(str_new)

str

In [44]:
# string to float 
st1 = "3.14"
st1_new = float(st1)
type(st1_new)

float

In [46]:
# string to int
st2 = "1234"
st2_new = int(st2)
type(st2_new)

int

# Q04: How do you write and execute a python script from command line

In [ ]:
'''
To write and execute python script from command line we can use following steps:
1: open a text editor and create a new file
2: write a code and save it with extension .py example: <my_script.py>
3: open command promt in your PC
4: Navigate directory where you have saved your python script using cd command
5: once you are in correct directory execute the python script by typing python3 followed by name of your script
    example: <python3 my_script.py>
6: press enter the output if any will be displayed in terminal
'''

# Q05: given a list my_list = [1,2,3,4,5], write a code to slice the list and obtain the sub_list[2,3]

In [10]:
my_list = [1,2,3,4,5]

In [15]:
sub_list = my_list[1:3]

In [16]:
sub_list

[2, 3]

# Q06: what is a complex number in mathematics,and how it is represented in pyhton?

In [14]:
"""
in mathematics, a complex number is a number that can be expressed in the form of a + bi where a and b are
real numbers and i is imaginary unit defined as square root of -1
"""

'''
in python complex numbers are represented using complex data type.
The imaginary unit i is represented by j in pyhton
'''
comlpex_num = 3+2j      # this is complex number where 3 is real part and 2j is imaginary part
type(comlpex_num)

complex

# Q07: What is correct way to declare variable named age and assign a value 25 to it?

In [19]:
age = 25

In [20]:
age

25

# Q08: Declare a variable names price and assign the value 9.99 to it. What data type does this variable belongs to?

In [21]:
price = 9.99

In [22]:
type(price)  # thus this variable is float type

float

# Q09: Create a variable named name and assign your full name to it as a string. How would you print the value of this variable

In [23]:
name = 'shaikh zeeshan ahmed'

In [24]:
print(f"my name is {name}")

my name is shaikh zeeshan ahmed

# Q10: Given the string "Hello, World!", extract the substring "world"

In [25]:
string = "Hello, World!"

In [32]:
sub_string = string[-6:-1:1]

In [33]:
sub_string

'World'

# Q11: Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not

In [34]:
is_student = True

In [35]:
type(is_student)

bool

In [36]:
if is_student:
    print("you are a student")

you are a student