# Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [48]:
var_list = ['string',['str',25, 5+5j, 25.50], 2.10 ,("apple","banana","mango") ]

#here i have created list variable and stored string list float and tuple respectively in it

# Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable

In [49]:
'''
answers:
i)   str
ii)  str
iii) list
iv)  int
'''
#code is given below

'\nanswers:\ni)   str\nii)  str\niii) list\niv)  int\n'

In [50]:
var1 = ''
type(var1)

str

In [51]:
var2 = '[DS,ML,python]'
type(var2)

str

In [52]:
var3 = ['DS','ML', 'Python']
type(var3)

list

In [53]:
var4 = 1
type(var4)

int

# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [54]:
'''
i) /
ans : it divides two numbers and return value
'''
#example
10/3

3.3333333333333335

In [55]:
'''
ii) %
ans: it gives you remainder value of two dividing numbers
'''
#example
10%3

1

In [56]:
'''
iii) //
ans: it is floor division operator, it divides two numbers and gives largest possible integer which is
less than or equal to divided value of that two numbers
'''
#example
10//3 # in this example 10/3 is 3.3333... but it returns 3 which is largest possible integer

3

In [57]:
'''
iv) **
ans: it is use exponentiation, that is raising a number to a power of other number
'''
#example
4**2  # in this example 2 is raised to power of 4 which gives 16 that is power of 4

16

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

In [58]:
lst = [1, 2.10 , 5+5j,'string',True,False,12,13.3,['str',25, 5+5j, 25.50],("apple","banana","mango") ]

print("length of list is: ",len(lst))
print("\n")
for i in lst:
    print("element:",i, "\n" ,"  type:",type(i))

length of list is:  10


element: 1
   type: <class 'int'>
element: 2.1
   type: <class 'float'>
element: (5+5j)
   type: <class 'complex'>
element: string
   type: <class 'str'>
element: True
   type: <class 'bool'>
element: False
   type: <class 'bool'>
element: 12
   type: <class 'int'>
element: 13.3
   type: <class 'float'>
element: ['str', 25, (5+5j), 25.5]
   type: <class 'list'>
element: ('apple', 'banana', 'mango')
   type: <class 'tuple'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [59]:
A = 48
B = 2
temp = A
count = 0

while temp%B==0:
    count+=1
    temp = temp/B

if count>0:
    print(f"{A} is purely divisible by {B}")
    print(f"it is divisible in {count} times")
else:
    print(f"{A} is not purely divisible by {B}")

48 is purely divisible by 2
it is divisible in 4 times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [7]:
elist = range(1,26)

for i in elist:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
''' answer:
--> mutable data types can be changed or modified after their creation while immutable data types are opposite to it
that is they can not be changed or modified after their creation
--> strings and tuples are immutable while list and dicts are mutable
'''

In [11]:
#example of immutable data type
# it show error, we can not update or replace value to it hance it is immutable
imm_str = "pwskills"
imm_str[4] = "I"

TypeError: 'str' object does not support item assignment

In [13]:
#example of mutable data 
#objects of list changes without any error because it is mutable

mut_list = [1, 2.10 , 5+5j,'string',True,False, 12 , 13.3]

mut_list[3] = "hello"
mut_list.append("append_object")
mut_list

[1, 2.1, (5+5j), 'hello', True, False, 12, 13.3, 'append_object']